body {
  margin: 0;
  background-image: url('images/woodbackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  margin: 1em;
}
.hero {
  background-color: #FAEBD7;
  width: 20em;
  color: green;
  padding: 0.5em;
  border-radius: 10px 10px 0 0;
  box-shadow: 3px 5px 7px #2a2a2a;
  font-size: 2em;
}
main {
  background-color: #FAEBD7;
  border-radius: 0 20px 0 0;
  box-shadow: 3px 5px 7px #2a2a2a;
  height: 70em;
  margin-top: 3em;
}
.prices {
  height: 70em;
  border-right: 1px solid #7e7e7e;
  width: 20em;
  float: left;
}
.prices label{
  display: block;
  padding: 20px;
  border-bottom: 1px solid #7e7e7e;
  font-size: 1.25em;
}
/*.cabin {
  float: right;
}*/
.cabin {
  width: 16em;
  height: 18em;
  float: right;
  margin: 10px;
  background-color: white;
  border: 1px solid #d3d3d3;
}
.cabin p {
  padding: 15px;
}
img {
  width: 15em;
  float: right;
  margin: 10px 10px 0 0;
}