body {
  margin: 0;
  background-image: url("images/dandelion.jpg");
}

.topText {
  text-align: center;
  font-family: sans-serif;
  padding: 1em;
}
.info {
  font-size: 1.5em;
}
.announce {
  font-size: 2.5em;
}
.newCity {
  max-width: 35em;
  margin: auto;
}
input, button {
  width: 50em;
  height: 2em;
  margin: 0.2em;
  opacity: 1.5;
  text-align: center;
}
.main {
  background-color: white;
  opacity: 0.75;
  height: 40em;
  width: 40em;
  margin: auto;
}
